.header {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  padding-block: 20px;
  position: relative;
  /* top: 0; */
}

.logo {
  width: 60px;
}

.chat-icon {
  width: 30px;
  height: 20px;
}
.name-container {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name-container strong {
  font-family: Poppins;
  font-style: italic;
}

.name {
  margin-inline-start: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

/* .header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--White);
  z-index: -1;
} */
