.momo-caller-tunez {
  background-color: var(--White);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block-end: 60px;
  gap: 10px;
  padding-inline: 10px 17px;
}

.mo-mo,
.caller-tunez {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 12px;
  /* padding-inline: 50px; */
  padding-block: 30px;
  width: 100%;
  max-width: 400px;
  max-height: 50px;
  gap: 5px;
}

.mo-mo {
  background-color: var(--Blue);
  color: var(--Yellow);
}

.momo-caller-tunez a {
  color: inherit;
  text-decoration: none;
}

.caller-tunez {
  color: var(--White);
  font-size: 15px;
  background-color: var(--Black);
}

span {
  color: rgb(223, 45, 113);
}

.dollar img {
  width: 20px;
  margin-block-start: 5px;
}

.note img {
  width: 30px;
  margin-block-start: 5px;
}
