.quick-access-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--White);
  padding-inline: 15px;
  padding-block: 30px 10px;
}

.quick-access-header {
  border-radius: 0;
}

.data-bundles .up-down,
.data-icon,
.phonebook,
.shopping-cart {
  width: 30px;
}

.phonebook {
  width: 20px;
}

.data-bundles,
.just4u,
.mashup,
.contact-us {
  width: 100%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--Black);
  border-radius: 8px;
  padding: 20px;
  font-size: 10px;
  color: var(--White);
  text-align: center;
}
